

<div class="container">
    <h2> View 2</h2>
    Name :
    <br />
    <input type="text" data-ng-model="filter.city" />
    <br />

    <ul>
        <li data-ng-repeat="cust in Customers    | filter: filter.city | orderBy : 'city'"> {{cust.name  | uppercase}} - {{cust.city }}</li>
    </ul>

    <br />

    Customer Name:<br />
    <input type="text" data-ng-model="newCustomer.name" />
    <br />
    Customer City: <br />
    <input type="text" data-ng-model="newCustomer.city" />
    <br />
    <button data-ng-click="addCustomer()"> Add Customer</button>
    <br />
    <a href="/view1"> View 1</a>
    <a href="/view3"> View 3</a>
</div>



